/*Body*/
body {
    background-image: url('background.jpg');
    padding-top: 50px;
    padding-bottom: 20px;
    color: black !important;
    font-family:'Lucida Console'
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*My navbar where I inserted a background as well*/
.navbar-default {
    background-image: url('pinkbg.jpg');
    border: groove 10px hotpink;
    color: black !important;
    font-size: larger;
    font-weight: bold;
}
/*Setting the photo of my thumbnail*/
.thumbnail{
    border: groove 10px hotpink;
}

/*Style for my heading from my HOMEPAGE*/
.panel-heading {
    border: groove 20px hotpink;
    background-image: url('bg.jpg');
    background-position: top;
    margin: 20px;
    color: black !important;
}
