@{
    ViewBag.Title = "Home Page";
}

<div class="panel-heading">
    <h1>Chue's Wardrobe</h1>
    <p class="lead">Welcome to my wardrobe. A place where you can come to see different outfits and to get a sense of my clothing style.</p>
 
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Tops</h2>
        <img src="@Url.Content("~/Content/summertop.jpg")" width="200" height="200"/>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Bottoms</h2>
       <img src="@Url.Content("~/Content/shorts.jpg")" width="200" height="200"/>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Shoes</h2>
        <img src="@Url.Content("~/Content/converseshoes.jpg")" width="200" height="200"/>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Accessories</h2>
        <img src="@Url.Content("~/Content/Applewatch.jpg")" width="200" height="200"/>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
